#{extends 'main.html' /}
#{set title:'coran.al-imane.org' /}

#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction">
#{/set}


<script type="text/javascript" charset='utf-8'>

    function closeOpen(categoryID){
        if($("#close_"+categoryID).length > 0){
            var title = "&{'forum.openCategory'}";
            var source = "@{'public/images/closed.png'}";
            $("#closeOpenLink_"+categoryID).html("<img id='open_"+categoryID+"' title='"+title+"' src='"+source+"' border='0'/>");
            $("#forums_"+categoryID).slideUp();
        }else{
            var title = "&{'forum.closeCategory'}";
            var source = "@{'public/images/open.png'}";
            $("#closeOpenLink_"+categoryID).html("<img id='close_"+categoryID+"' title='"+title+"' src='"+source+"' border='0'/>");
            $("#forums_"+categoryID).slideDown();
        }
    }

</script>

<a href="@{Forums.listAllTopic()}">&{'forum.lastPost'}</a>
<br/><br/>
#{list items:forumCategories, as:'category'}
    #{showForumCategory category:category /}<br/>
#{/list}
