<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>

<script type="text/javascript" charset='utf-8'>
    var username = '${session.username}';
    var commentAdd = "&{'comment.add'}";
    var commentAddPublic = "&{'comment.addPublic'}";
    var commentNotAddPublic = "&{'comment.notAddPublic'}";
    var translationAdd = "&{'translation.add'}";
    var translationNotAdd = "&{'translation.notAdd'}";
    var userNotConnected = "&{'error.userNotConnected'}";
    var tagProposed = "&{'tagProposed'}";
    var existingTag = "&{'error.existingTag'}";
    var noTag = "&{'error.noTag'}";
    var noAyat = "&{'error.noAyat'}";

    var privateCommentLoadURL = "@{Comments.load()}";
    var publicCommentLoadURL = "@{Comments.loadPublic()}";
    var privateCommentSaveURL = "@{Comments.save()}";
    var publicCommentSaveURL = "@{Proposals.newComment()}";
    var translationSaveURL = "@{Proposals.newTranslation()}";
    var newTagURL = "@{Proposals.newTag()}";

    function goToAyat(maxAyat){
        var ayat = parseInt($("#ayat").val());

        if(isNaN(ayat) || parseInt($("#ayat").val()) != parseFloat($("#ayat").val())){
            alert("&{'error.noAyatNumber'}");
            return;
        }else if(ayat > maxAyat){
            alert("&{'error.maxAyat',maxAyat}");
            return;
        }else if(ayat < 1){
            alert("&{'error.badAyatNumber',maxAyat}");
            return;
        }

        window.location.hash = $("#ayat").val();
    }

    $(function() {
        $('#ayat').keyup(function(e) {
            if(e.keyCode == 13) {
                goToAyat('${maxAyat}');
            }
        });
    });
</script>

<script src="@{'/public/javascripts/quranUtils.js'}" type="text/javascript" charset='utf-8'></script>

<div style="text-align: center">
    <h1 style="border: 0px;">${sourat.number}. ${sourat.title}</h1>
    <h4>${ayats.size()} &{'ayats'}</h4>
</div>

<div style="text-align: right">
    &{'goToAyat'} : <input type="text" name="ayat" id="ayat" style="width: 30px" />
    <input type="button" name="go" value="Go" onclick="goToAyat('${maxAyat}');"/>
</div>

#{if sourat.number != 1 && sourat.number != 9}
<div align="center" style="font-size:15px;font-weight: bold">
    <em>&{'ayat.basmallah'}</em>
</div>
#{/if}

#{list items:ayats, as:'ayat'}

#{showAyat ayat:ayat,load:'yes'/}

#{if !ayat_isLast}
<div style="border-bottom: 1px #eeeeee solid"></div>
#{/if}

#{/list}
