#{extends 'main.html' /}
#{set title:'Home' /}

#{i18n /}

<script>
    //initiate validator on load

    $(function() {
        // validate contact form on keyup and submit
        $("#changePassword").validate({
            errorElement: 'span',
            errorClass: 'errorMessage',
            onkeyup: false,
            highlight: function(element, errorClass) {

            },

            errorPlacement: function(error, element) {
                error.appendTo( element.parent("td").next("td") );
            },


            rules: {
                password: {
                    required: true
                },
                confirmPassword: {
                    equalTo: "#password"
                }
            },
            //set messages to appear inline
            messages: {
                password: i18n("error.emptyPassword"),
                confirmPassword: i18n("error.badConfirmPassword")
            }
        });

        
    });
</script>

<h1>&{'changePassword'}</h1>

#{if flash.errorConfirm}

    &{flash.errorConfirm}

#{/if}
#{else}
<p>
    &{'info.changePasswordMessage',user.username}
</p>

#{if flash.error}
<p class="validation">
    &{flash.errorPassword}
    #{if flash.errorConfirmPassword}<br/>#{/if}
    &{flash.errorConfirmPassword}
</p>
#{/if}

#{if flash.success}
<p class="success">
    &{flash.success}
</p>
#{/if}

	#{form @changePassword(),id:'changePassword'}
<table>

    <tr>
        <td>
            &{'user.password'} :
        </td>
        <td>
            <input type="password" name="password" id="password"/>
            <input type="hidden" name="confirm" value="${user.confirm}"/>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            &{'confirmPassword'} :
        </td>
        <td>
            <input type="password" name="confirmPassword" id="confirmPassword"/>
        </td>
        <td>


        </td>
    </tr>
    
    <tr>
        <td colspan="2" align="right">
            <input type="submit" name="changePassword" value="&{'send'}"/>
        </td>
    </tr>

</table>
#{/form}
#{/else}