#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Inscription' /}
#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction">
#{/set}

#{i18n /}

<script type="text/javascript" charset="utf-8">
    //initiate validator on load

    $(function() {
        // validate contact form on keyup and submit
        $("#registration").validate({
            errorElement: 'span',
            errorClass: 'errorMessage',
            onkeyup: false,
            highlight: function(element, errorClass) {

            },

            errorPlacement: function(error, element) {
                error.appendTo( element.parent("td").next("td") );
            },


            rules: {
                username: {
                    required: true
                },
                mail: {
                    required: true,
                    email: true
                },
                password: {
                    required: true
                },
                confirmPassword: {
                    equalTo: "#password"
                },
                captcha : {
                    required : true
                }
            },
            //set messages to appear inline
            messages: {
                username: i18n("error.emptyUsername"),
                mail: i18n("error.mail"),
                password: i18n("error.emptyPassword"),
                confirmPassword: i18n("error.badConfirmPassword"),
                captcha: i18n("error.emptyCaptcha")
            }
        });

        var userName = '';

        $("#username").blur(function(e)
        {
            userName = $(this).val();

            if(userName.length <= 2)
            {
                $("#display").removeClass("successMessage");
                $("#display").text(i18n("error.shortUsername"));
                $("#display").addClass("errorMessage");
            }

            else
            {
                var img = '<img src="/public/images/load.gif" />'
                $("#display").html(img);
                $.ajax(
                {
                    type:"POST",
                    url:"@{Secure.checkUsername()}",
                    data:"{\"username\":\"" + userName + "\"}",
                    dataType:"json",
                    contentType:"application/json",
                    success: function(response)
                    {
                        if(response.result == 'ok')
                        {
                            $("#display").removeClass("errorMessage");
                            $("#display").text(i18n("info.goodUsername"));
                            $("#display").addClass("successMessage");
                        }
                        else
                        {
                            $("#display").removeClass("successMessage");
                            $("#display").text(i18n("error.badUsername"));
                            $("#display").addClass("errorMessage");
                        }
                    }
                });
            }


        });
    });
</script>

<h1>&{'register'}</h1>

#{if flash.error}
<p class="validation">
    &{flash.errorUsername} 
    #{if flash.errorEmail && flash.errorUsername}<br/>#{/if}
    &{flash.errorEmail}
    #{if flash.errorPassword}<br/>#{/if}
    &{flash.errorPassword}
    #{if flash.errorConfirmPassword}<br/>#{/if}
    &{flash.errorConfirmPassword}
    #{if flash.errorCaptcha}<br/>#{/if}
    &{flash.errorCaptcha}
    #{if flash.errorBadCaptcha && flash.errorCaptcha}<br/>#{/if}
    &{flash.errorBadCaptcha}
</p>
#{/if}

#{if flash.success}
<p class="success">
    &{flash.success}
</p>
#{/if}

	#{form @register(),id:'registration'}
<table>
    <tr>
        <td>
            &{'user.username'} :
        </td>
        <td>
            <input type="text" name="username" id="username" value="${params.username}"/>
        </td>
        <td>
            <p id="display">

            </p>
        </td>
    </tr>
    <tr>
        <td>
            &{'user.email'} :
        </td>
        <td>
            <input type="text" name="mail" id="mail" value="${params.mail}"/>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            &{'user.password'} :
        </td>
        <td>
            <input type="password" name="password" id="password"/>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            &{'confirmPassword'} :
        </td>
        <td>
            <input type="password" name="confirmPassword" id="confirmPassword"/>
        </td>
        <td>


        </td>
    </tr>
    <tr>
        <td>
            &{'imageCode'} :
        </td>
        <td>
            <img src="@{Application.captcha(randomID)}" alt="captcha"/>
            <input type="hidden" name="randomID" value="${randomID}"/>
        </td>
        <td>

        </td>
    </tr>

    <tr>
        <td>
            &{'captcha'} :
        </td>
        <td>
            <input type="text" name="captcha" id="captcha"/>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td colspan="2" align="right">
            <input type="submit" name="register" value="&{'send'}"/>
        </td>
    </tr>

</table>
#{/form}