<div style="padding-bottom: 10px;padding-top: 10px;">
    <a href="#${_ayat.number}"></a>

    <div id="message_${_ayat.id}"></div>
    <div id="message2_${_ayat.id}"></div>

    <div style="display: inline-block;width: 70px;height: 80px">
        <div>
            <div class="ayatNumber">${_ayat.sa}</div>
            <div style="padding-top: 3px;" class="options">
                <a href="#top">
                    <img src="@{'/public/images/up.png'}"
                         title="&{'ayat.top'}" width="20px" height="20px"
                         alt="&{'ayat.top'}"/>
                </a>
                <a href="#" 
                   onclick="showHidePublicCommentBox('${_ayat.id}');return false;">
                    <img src="@{'/public/images/publicComment.png'}"
                         title="&{'ayat.publicComment'}" width="20px"
                         height="20px" alt="&{'ayat.publicComment'}"/>
                </a>
                <a href="#" 
                   onclick="showHidePrivateCommentBox('${_ayat.id}','${_load}');return false;">
                    <img src="@{'/public/images/privateComment.png'}"
                         title="&{'ayat.privateComment'}" width="20px"
                         height="20px" alt="&{'ayat.privateComment'}"/>
                </a>
            </div>

            <div class="options">

                <a href="#"
                   onclick="showHideTagBox('${_ayat.id}');return false;">
                    <img src="@{'/public/images/tag.png'}"
                         title="&{'ayat.tag'}"  alt="&{'ayat.tag'}"/>
                </a>

                <a href="#"
                   onclick="showHideTranslateBox('${_ayat.id}');return false;">
                    <img src="@{'/public/images/idea.png'}"
                         title="&{'ayat.suggest'}" width="20px"
                         height="20px" alt="&{'ayat.suggest'}"/>
                </a>

                <a href="#"
                   onclick="showHideArabAyat('${_ayat.id}');return false;">
                    <img src="@{'/public/images/alif.png'}"
                         title="&{'ayat.arab'}"
                         height="25" alt="&{'ayat.arab'}"/>
                </a>
            </div>
            <div class="options">
                #{secure.check "admin"}
                #{if _tagName}
                <a href="#" onclick="removeTagAyat('${_tagName}','${_ayat.id}');return false;">
                    <img src="@{'/public/images/delete.png'}"
                         title="&{'ayat.delete'}" width="20px" height="20px"
                         alt="&{'ayat.delete'}"/>
                </a>
                #{/if}
                #{/secure.check}
            </div>
        </div>
    </div>
    <div style="display: inline-block;width: 930px; float: right;">
        <div class="ayatArabic" id="arab_${_ayat.id}">${_ayat.arabic}</div>
        <div class="ayatContent" >${_ayat.content}</div>
        <div class="ayatTag options" >
            #{list items:_ayat.tags,as:"t"}
            <a href="@{Tags.viewAyats(t.name,t.name.slugify())}" class="tag">
                ${t.name}
            </a>
            #{/list}

        </div>
    </div>

    #{if _ayat.comment}
    <div style="padding-left: 85px"  class="options">
        #{if _com && !_com.user}
        <a href="#" onclick="showComment('${_ayat.id}','no');return false;">
            &{'ayat.viewComment'}
        </a>
        #{/if}
        #{else}
        <a href="#" onclick="showComment('${_ayat.id}','yes');return false;">
            &{'ayat.viewComment'}
        </a>
        #{/else}


        <div style="width: 900px;border: 1px #7a3919 solid;display: none" id="ayatPublicCommentBox_${_ayat.id}">

            <div id="forumCategoryHead">
                &{'comment'}
            </div>
            <div id="ayatPublicComment_${_ayat.id}" style="padding: 10px;">
                #{if _com && !_com.user}
                ${_com.content.raw()}
                #{/if}
            </div>

        </div>

    </div>
    #{/if}

    <div id="tag_${_ayat.id}" class="ayatComment options textarea">
        <form action="" method="post" id="tagForm_${_ayat.id}">
            <input type="text" name="names" />
            <input type="hidden" name="ayatID" value="${_ayat.id}"/>
            <input type="submit" name="add" value="&{'send'}" onclick="return sendTagProposition('${_ayat.id}');"/>
        </form>
        <span style="font-style: italic">&{'tag.info'}</span>
    </div>
    <form action="" onsubmit="savePublicComment('${_ayat.id}');return false;">
        <div class="ayatComment options textarea" id="publicCommentBox_${_ayat.id}" >
            <div style="width: 900px;border: 1px #7a3919 solid;">
                <div id="forumCategoryHead">
                    &{'ayat.publicComment'}
                </div>
                <div id="publicComment_${_ayat.id}"></div>

            </div>
        </div>
    </form>
    <form action="" onsubmit="savePrivateComment('${_ayat.id}');return false;">
        <div class="ayatComment options textarea"  id="privateCommentBox_${_ayat.id}">
            <div style="width: 900px;border: 1px #7a3919 solid;">
                <div id="forumCategoryHead">
                    &{'ayat.privateComment'}
                </div>
                <div id="privateComment_${_ayat.id}">
                    #{if _com && _com.user}
                    <textarea id="privateCommentArea_${_ayat.id}" class="privateCommentArea_${_ayat.id}" cols="80" rows="8">
                ${_com.content}
                    </textarea>
                    #{/if}
                </div>

            </div>

        </div>
    </form>
    <form action="" onsubmit="saveTranslation('${_ayat.id}');return false;">
        <div class="ayatComment options textarea" id="translationBox_${_ayat.id}" >
            <div style="width: 900px;border: 1px #7a3919 solid;">
                <div id="forumCategoryHead">
                    &{'ayat.suggest'}
                </div>
                <div id="translation_${_ayat.id}"></div>

            </div>
        </div>
    </form>

    <div style="clear: both"></div>

</div>
