#{extends 'main.html' /}
#{set title:title /}

<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>

<script type="text/javascript" charset='utf-8'>

    var username = '${session.username}';
    var commentAdd = "&{'comment.add'}";
    var commentAddPublic = "&{'comment.addPublic'}";
    var commentNotAddPublic = "&{'comment.notAddPublic'}";
    var translationAdd = "&{'translation.add'}";
    var translationNotAdd = "&{'translation.notAdd'}";
    var userNotConnected = "&{'error.userNotConnected'}";
    var tagProposed = "&{'tagProposed'}";
    var existingTag = "&{'error.existingTag'}";
    var noTag = "&{'error.noTag'}";
    var noAyat = "&{'error.noAyat'}";
    var confirmRemoveTagAyat = "&{'info.confirmRemoveTagAyat'}";
    var ayatRemovedFromTag = "&{'info.ayatRemovedFromTag'}"

    var privateCommentLoadURL = "@{Comments.load()}";
    var privateCommentSaveURL = "@{Comments.save()}";
    var publicCommentLoadURL = "@{Comments.loadPublic()}";
    var publicCommentSaveURL = "@{Proposals.newComment()}";
    var translationSaveURL = "@{Proposals.newTranslation()}";
    var newTagURL = "@{Proposals.newTag()}";
    var removeTagAyatURL = "@{Tags.removeAyat()}";

</script>

<script src="@{'/public/javascripts/quranUtils.js'}" type="text/javascript" charset='utf-8'></script>


<div style="text-align: center"><h1 style="border: 0px;">&{'tag'} : ${name}</h1>
</div>


#{list items:ayats, as:'ayat'}

<div style="padding-bottom: 10px;padding-top: 10px;" id="allAyat_${ayat.id}">
    #{showAyat ayat:ayat,load:'yes',tagName:name/}

    #{if !ayat_isLast}
    <div style="border-bottom: 1px #eeeeee solid"></div>
    #{/if}
</div>


#{/list}



#{toolBox /}