#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Coran en ligne' /}

#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction">
#{/set}

#{if play.mode.name() == 'DEV'}
    #{404 result /}
#{/if}
#{else}
<h1>Not found</h1>
<p>
    ${result.message}
</p>
#{/else}