#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Valider la traduction' /}

#{if post.topic.proposal.ayat}
<h4 style="border: 0px;">&{'chapter.newAyat',post.topic.proposal.chapter.title}</h4>
#{/if}
#{else}
<h4 style="border: 0px;">&{'chapter.new'} :</h4>
#{/else}

#{if flash.chapterError}
<p class="validation">
    &{flash.chapterError}
</p>
#{/if}

#{if flash.success}
<p class="success">
    &{flash.success}
</p>
#{/if}

#{if post.topic.proposal.ayat}
<br/>
<div style="display: inline-block;width: 70px;height: 50px">
    <div>
        <div class="ayatNumber">${post.topic.proposal.ayat.sa}</div>
    </div>
</div>

<div class="ayatContent" >${post.topic.proposal.ayat.content}</div>
<div style="border-bottom: 1px #eeeeee solid"></div>
<br/>
#{/if}
#{else}
<br/>
<strong>
    &{'chapter.proposed'} : ${post.topic.proposal.content.raw()}
</strong>
#{/else}
#{if accepted}
#{form @Proposals.validateChapter()}
<input type="hidden" name="postID" value="${post.id}"/>
#{if !post.topic.proposal.ayat}
<br/>
<input type="text" name="title" id="title"/>
#{/if}
<input type="submit" name="save" value="&{'forum.validate'}"/>
#{/form}
#{/if}


