#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Valider le commentaire' /}

#{set 'moreScripts'}
<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>
#{/set}

<script>
    $(function() {

        tinyMCE.init({
            language : "fr",
            mode : "exact",
            elements : "comment",

            theme : "advanced",
            plugins : "save,advhr,advimage,advlink,emotions,inlinepopups,searchreplace,contextmenu,paste,directionality,fullscreen,noneditable,nonbreaking,xhtmlxtras",

            // Theme options
            theme_advanced_buttons1 : "save,newdocument,|,bold,italic,underline,strikethrough,|,justifyleft,justifycenter,justifyright,justifyfull,|,formatselect,fontselect,fontsizeselect,hr,removeformat,|,emotions,|,fullscreen",
            theme_advanced_buttons2 : "cut,copy,paste,pastetext,pasteword,|,search,replace,|,bullist,numlist,|,outdent,indent,|,undo,redo,|,link,unlink,image,cleanup,|,forecolor,backcolor,blockquote",
            theme_advanced_buttons3 : "",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : false,
            cleanup: false,
            convert_fonts_to_spans : false,
            inline_styles: false,
            fix_table_elements : true,
            fix_list_elements : true,
            relative_urls : false,
            convert_urls : false,
            extended_valid_elements :
                "a[href|rel|rev|target|title|type]," +
                "b[],"+
                "blink[],"+
                "blockquote[align|cite|clear|height|type|width],"+
                "br[clear],"+
                "caption[align|height|valign|width],"+
                "center[align|height|width],"+
                "col[align|bgcolor|char|charoff|span|valign|width],"+
                "colgroup[align|bgcolor|char|charoff|span|valign|width],"+
                "comment[],"+
                "em[],"+
                "font[color|face|font-weight|point-size|size],"+
                "h1[align|clear|height|width],"+
                "h2[align|clear|height|width],"+
                "h3[align|clear|height|width],"+
                "h4[align|clear|height|width],"+
                "h5[align|clear|height|width],"+
                "h6[align|clear|height|width],"+
                "hr[align|clear|color|noshade|size|width],"+
                "img[align|alt|border|height|hspace|src|vspace|width],"+
                "li[align|clear|height|type|value|width],"+
                "marquee[behavior|bgcolor|direction|height|hspace|loop|scrollamount|scrolldelay|vspace|width],"+
                "ol[align|clear|height|start|type|width],"+
                "p[align|clear|height|width],"+
                "pre[clear|width|wrap],"+
                "s[],"+
                "small[],"+
                "span[align],"+
                "strike[],"+
                "strong[],"+
                "sub[],"+
                "sup[],"+
                "table[align|background|bgcolor|border|bordercolor|bordercolordark|bordercolorlight|"+
                "bottompadding|cellpadding|cellspacing|clear|cols|height|hspace|leftpadding|"+
                "rightpadding|rules|summary|toppadding|vspace|width],"+
                "tbody[align|bgcolor|char|charoff|valign],"+
                "td[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "tfoot[align|bgcolor|char|charoff|valign],"+
                "th[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "thead[align|bgcolor|char|charoff|valign],"+
                "tr[align|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|"+
                "height|nowrap|valign],"+
                "tt[],"+
                "u[],"+
                "ul[align|clear|height|start|type|width]"


        });
    });
</script>

<h4 style="border: 0px;">&{'comment.validate'}</h4>

#{if flash.commentError}
<p class="validation">
    &{flash.commentError}
</p>
#{/if}

#{if flash.success}
<p class="success">
    &{flash.success}
</p>
#{/if}
<br/>
<div style="display: inline-block;width: 70px;height: 50px">
    <div>
        <div id="ayatNumber">${post.topic.proposal.ayat.sa}</div>
    </div>
</div>

<div id="ayatContent" >${post.topic.proposal.ayat.content}</div>
<div style="border-bottom: 1px #eeeeee solid"></div>


#{if c}
<strong>
    &{'comment.now'} :
</strong>

<br/><br/>
${c.content.raw()}
#{/if}

<br/>
<strong>
    &{'comment.proposed'} :
</strong>
<br/><br/>
${post.topic.proposal.content.raw()}

<br/>
#{if accepted}
#{form @Proposals.validateComment()}
<input type="hidden" name="postID" value="${post.id}"/>
<textarea cols="100" rows="20" name="comment" id="comment">
#{if comment}
${c.content}
#{/if}
</textarea>
<br/>
<input type="submit" name="save" value="&{'send'}"/>
#{/form}
#{/if}

