#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Mes versets sélectionnés' /}

#{if ayats.size() > 0}
<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>

<script>

    var deselectAllAyat = "&{'info.deselectAllAyat'}";
    var selectAllAyat = "&{'info.selectAllAyat'}";

    $(document).ready(function(){

        $("#checkall").click(function()
        {
            var checked_status = this.checked;
            if(checked_status){
                $("#selectAllInfo").html(deselectAllAyat);
            }else{
                $("#selectAllInfo").html(selectAllAyat);
            }

            $("input[type='checkbox']").each(function()
            {
                this.checked = checked_status;
            });
        });

    });

    var username = '${session.username}';
    var commentAdd = "&{'comment.add'}";
    var commentAddPublic = "&{'comment.addPublic'}";
    var commentNotAddPublic = "&{'comment.notAddPublic'}";
    var translationAdd = "&{'translation.add'}";
    var translationNotAdd = "&{'translation.notAdd'}";
    var userNotConnected = "&{'error.userNotConnected'}";
    var ayatSelected = "&{'ayat.selected'}";
    var ayatAlreadySelected = "&{'ayat.alreadySelected'}";
    var noChapter = "&{'error.noChapter'}";
    var selectedAyatAlreadyAdded = "&{'error.selectedAyatAlreadyAdded'}";
    var selectedAyatAddedToChapter = "&{'info.selectedAyatAddedToChapter'}";
    var confirmRemoveAyatSelected = "&{'info.confirmRemoveAyatSelected'}";
    var ayatRemovedFromDefaultChapter = "&{'info.ayatRemovedFromDefaultChapter'}";
    var badChapter = "&{'error.badChapter'}";

    var privateCommentLoadURL = "@{Comments.load()}";
    var privateCommentSaveURL = "@{Comments.save()}";
    var publicCommentSaveURL = "@{Proposals.newComment()}";
    var translationSaveURL = "@{Proposals.newTranslation()}";
    var selectAyatURL = "@{Chapters.selectAyat()}";
    var addAyatToChapterURL = "@{Chapters.addAyatToChapter()}";
    var removeChapterAyatURL = "@{Chapters.removeChapterAyat()}";

</script>

<script src="@{'/public/javascripts/quranUtils.js'}" type="text/javascript" charset='utf-8'></script>

#{/if}

<h4>&{'info.selectedAyat'} :</h4>
#{if ayats.size() > 0}
<div style="margin-left: 75px;" >
    <table width="100%" border="0">
        <tr>
            <td width="1%">
                <input type="checkbox" name="checkall" id="checkall" value="-1" />
            </td>
            <td id="selectAllInfo">
                &{'info.selectAllAyat'}
            </td>
            <td  align="right" nowrap="">
                &{'info.addAllSelectedAyatToChapter'} :
            </td>
        </tr>
        <tr>
            <td colspan="3" align="right" >
                <strong>&{'chapter.public'} : &nbsp;</strong>
                <select name="publicChapter" id="publicChapter">
                    <option value="-1"></option>
                    #{list items:chapters, as:'chapter'}
                    <option value="${chapter.id}">${chapter.title}</option>
                    #{/list}
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <strong>&{'chapter.private'} : &nbsp;</strong>
                <select name="privateChapter" id="privateChapter">
                    <option value="-1"></option>
                    #{list items:chapters, as:'chapter'}
                    <option value="${chapter.id}">${chapter.title}</option>
                    #{/list}
                </select>
                <input type="button" name="add" value="&{'info.add'}" onclick="addAllSelectedAyatToChapter();"/>
            </td>
        </tr>
    </table>

</div>


<div style="border-bottom: 1px #eeeeee solid"></div>

#{list items:ayats, as:'ayat'}

<div style="padding-bottom: 10px;padding-top: 10px;" id="allAyat_${ayat.id}">
    #{showAyat ayat:ayat,load:'yes',chap:'yes',chapters:chapters/}

    #{if !ayat_isLast}
    <div style="border-bottom: 1px #eeeeee solid"></div>
    #{/if}
</div>


#{/list}

#{/if}
#{else}
<br/>
&{'info.noAyat'}
#{/else}