#{extends 'main.html' /}
#{set title:title /}

#{if chapter.ayats.size() > 0}
<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>

<script type="text/javascript" charset='utf-8'>

    var username = '${session.username}';
    var commentAdd = "&{'comment.add'}";
    var commentAddPublic = "&{'comment.addPublic'}";
    var commentNotAddPublic = "&{'comment.notAddPublic'}";
    var translationAdd = "&{'translation.add'}";
    var translationNotAdd = "&{'translation.notAdd'}";
    var userNotConnected = "&{'error.userNotConnected'}";
    var ayatSelected = "&{'ayat.selected'}";
    var ayatAlreadySelected = "&{'ayat.alreadySelected'}";
    var noChapter = "&{'error.noChapter'}";
    var selectedAyatAlreadyAdded = "&{'error.selectedAyatAlreadyAdded'}";
    var selectedAyatAddedToChapter = "&{'info.selectedAyatAddedToChapter'}";
    var confirmRemoveAyatSelected = "&{'info.confirmRemoveAyatSelected'}";
    var confirmRemoveChapterAyat = "&{'info.confirmRemoveChapterAyat'}";
    var ayatRemovedFromChapter = "&{'info.ayatRemovedFromChapter'}";
    var ayatRemovedFromDefaultChapter = "&{'info.ayatRemovedFromDefaultChapter'}";
    var badChapter = "&{'error.badChapter'}";

    var privateCommentLoadURL = "@{Comments.load()}";
    var privateCommentSaveURL = "@{Comments.save()}";
    var publicCommentLoadURL = "@{Comments.loadPublic()}";
    var publicCommentSaveURL = "@{Proposals.newComment()}";
    var translationSaveURL = "@{Proposals.newTranslation()}";
    var selectAyatURL = "@{Chapters.selectAyat()}";
    var addAyatToChapterURL = "@{Chapters.addAyatToChapter()}";
    var removeChapterAyatURL = "@{Chapters.removeChapterAyat()}";

</script>

<script src="@{'/public/javascripts/quranUtils.js'}" type="text/javascript" charset='utf-8'></script>

#{/if}

<div style="text-align: center"><h1 style="border: 0px;">&{'chapter'} : ${chapter.title}</h1>
</div>

#{if chapter.ayats.size() > 0}

#{list items:chapter.ayats, as:'ayat'}

<div style="padding-bottom: 10px;padding-top: 10px;" id="allAyat_${ayat.id}">
    #{showAyat ayat:ayat,load:'yes',chapter:chapter/}

    #{if !ayat_isLast}
    <div style="border-bottom: 1px #eeeeee solid"></div>
    #{/if}
</div>


#{/list}

#{/if}
#{else}
<br/>
&{'info.noChapterAyat'}
#{/else}

#{toolBox /}