#{extends 'main.html' /}
#{set title:title /}

#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction,${sourat.title.slugify()}">
#{/set}

<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>

<script type="text/javascript" charset='utf-8'>
    var username = '${session.username}';
    var commentAdd = "&{'comment.add'}";
    var commentAddPublic = "&{'comment.addPublic'}";
    var commentNotAddPublic = "&{'comment.notAddPublic'}";
    var translationAdd = "&{'translation.add'}";
    var translationNotAdd = "&{'translation.notAdd'}";
    var userNotConnected = "&{'error.userNotConnected'}";
    var ayatSelected = "&{'ayat.selected'}";
    var ayatAlreadySelected = "&{'ayat.alreadySelected'}";

    var privateCommentLoadURL = "@{Comments.load()}";
    var privateCommentSaveURL = "@{Comments.save()}";
    var publicCommentSaveURL = "@{Proposals.newComment()}";
    var translationSaveURL = "@{Proposals.newTranslation()}";
    var selectAyatURL = "@{Chapters.selectAyat()}";

    function goToAyat(maxAyat){
        var ayat = parseInt($("#ayat").val());

        if(isNaN(ayat) || parseInt($("#ayat").val()) != parseFloat($("#ayat").val())){
            alert("&{'error.noAyatNumber'}");
            return;
        }else if(ayat > maxAyat){
            alert("&{'error.maxAyat',maxAyat}");
            return;
        }else if(ayat < 1){
            alert("&{'error.badAyatNumber',maxAyat}");
            return;
        }

        window.location.hash = $("#ayat").val();
    }

    $(function() {
        $('#ayat').keyup(function(e) {
            if(e.keyCode == 13) {
                goToAyat('${maxAyat}');
            }
        });
    });
</script>

<script src="@{'/public/javascripts/quranUtils.js'}" type="text/javascript" charset='utf-8'></script>

<div style="text-align: center">
    <h1 style="border: 0px;">${sourat.number}. ${sourat.title}</h1>
    <h4>${ayats.size()} &{'ayats'}</h4>
</div>

<div style="text-align: right">
    &{'goToAyat'} : <input type="text" name="ayat" id="ayat" style="width: 30px" />
    <input type="button" name="go" value="Go" onclick="goToAyat('${maxAyat}');"/>
</div>

#{if sourat.number != 1 && sourat.number != 9}
<div align="center" style="font-size:15px;font-weight: bold">
    <em>&{'ayat.basmallah'}</em>
</div>
#{/if}

#{list items:ayats, as:'ayat'}

<div style="padding-bottom: 10px;padding-top: 10px;">
    <a href="#${ayat.number}" id="${ayat.number}"></a>

    <div id="message_${ayat.id}"></div>

    <div style="display: inline-block;width: 70px;height: 80px">
        <div>
            <div id="ayatNumber">${ayat.sa}</div>
            <div style="padding-top: 3px;">
                <a href="#top">
                    <img src="@{'/public/images/up.png'}" 
                         title="&{'ayat.top'}" width="20px" height="20px"
                         alt="&{'ayat.top'}"/>
                </a>
                <a href="#" id="link_${ayat.number}"
                   onclick="showHidePublicCommentBox('${ayat.id}');return false;">
                    <img src="@{'/public/images/publicComment.png'}"
                         title="&{'ayat.publicComment'}" width="20px"
                         height="20px" alt="&{'ayat.publicComment'}"/>
                </a>
                <a href="#" id="link_${ayat.number}"
                   onclick="showHidePrivateCommentBox('${ayat.id}');return false;">
                    <img src="@{'/public/images/privateComment.png'}"
                         title="&{'ayat.privateComment'}" width="20px"
                         height="20px" alt="&{'ayat.privateComment'}"/>
                </a>
            </div>

            <div>
                <a href="#"
                   onclick="selectAyat('${ayat.id}');return false;">
                    <img src="@{'/public/images/select.png'}"
                         title="&{'ayat.select'}" width="20px"
                         height="20px" alt="&{'ayat.select'}"/>
                </a>

                #{if session.username}

                #{secure.check 'admin'}
                <a href="@{Ayats.editAyat(ayat.id)}">
                    <img src="@{'/public/images/idea.png'}"
                         title="&{'ayat.suggest'}" width="20px"
                         height="20px" alt="&{'ayat.suggest'}"/>
                </a>
                #{/secure.check}

                #{secure.check 'user'}
                <a href="#"
                   onclick="showHideTranslateBox('${ayat.id}');return false;">
                    <img src="@{'/public/images/idea.png'}"
                         title="&{'ayat.suggest'}" width="20px"
                         height="20px" alt="&{'ayat.suggest'}"/>
                </a>
                #{/secure.check}
                #{/if}

                #{else}
                <a href="#" 
                   onclick="showHideTranslateBox('${ayat.id}');return false;">
                    <img src="@{'/public/images/idea.png'}" 
                         title="&{'ayat.suggest'}" width="20px" height="20px"
                         alt="&{'ayat.suggest'}"/>
                </a>
                #{/else}

            </div>
        </div>
    </div>

    <div id="ayatContent" >${ayat.content}</div>
    <div style="padding-left: 85px">
        <a href="">
            &{'ayat.viewComment'}
        </a>
    </div>

    <form action="" onsubmit="savePublicComment('${ayat.id}');return false;">
        <div class="ayatComment" id="publicComment_${ayat.id}" ></div>
    </form>
    <form action="" onsubmit="savePrivateComment('${ayat.id}');return false;">
        <div class="ayatComment" id="privateComment_${ayat.id}" ></div>
    </form>
    <form action="" onsubmit="saveTranslation('${ayat.id}');return false;">
        <div class="ayatComment" id="translation_${ayat.id}" ></div>
    </form>

</div>

<div style="border-bottom: 1px #eeeeee solid"></div>

#{/list}

