#{extends 'main.html' /}
#{set title:title /}

#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction,${sourat.title.slugify()}">
#{/set}

<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>

#{i18n /}

<script>

    function showCommentBox(id,ayatId){
        
        $("#"+id).html('<textarea id="comment_'+id+'" class="comment_'+id+'" cols="80" rows="8"></textarea>');
        
        $.post("@{Comments.load()}", { ayatId: ayatId },
        function(data){
            $("#comment_"+id).html(data.content);
        });

        
        tinyMCE.init({
            
            mode : "specific_textareas",
            editor_selector : "comment_"+id,

            plugins : "save",
            theme : "advanced",
            theme_advanced_buttons1 : "save,|,bold,italic,underline,strikethrough,forecolor,|,justifyleft,justifycenter,justifyright,justifyfull",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 :"",
            theme_advanced_buttons4 :"",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,
            cleanup: false,
            convert_fonts_to_spans : false,
            inline_styles: false,
            fix_table_elements : true,
            fix_list_elements : true,
            relative_urls : false,
            convert_urls : false,
            extended_valid_elements :
                "a[href|rel|rev|target|title|type]," +
                "b[],"+
                "blink[],"+
                "blockquote[align|cite|clear|height|type|width],"+
                "br[clear],"+
                "caption[align|height|valign|width],"+
                "center[align|height|width],"+
                "col[align|bgcolor|char|charoff|span|valign|width],"+
                "colgroup[align|bgcolor|char|charoff|span|valign|width],"+
                "comment[],"+
                "em[],"+
                "font[color|face|font-weight|point-size|size],"+
                "h1[align|clear|height|width],"+
                "h2[align|clear|height|width],"+
                "h3[align|clear|height|width],"+
                "h4[align|clear|height|width],"+
                "h5[align|clear|height|width],"+
                "h6[align|clear|height|width],"+
                "hr[align|clear|color|noshade|size|width],"+
                "img[align|alt|border|height|hspace|src|vspace|width],"+
                "li[align|clear|height|type|value|width],"+
                "marquee[behavior|bgcolor|direction|height|hspace|loop|scrollamount|scrolldelay|vspace|width],"+
                "ol[align|clear|height|start|type|width],"+
                "p[align|clear|height|width],"+
                "pre[clear|width|wrap],"+
                "s[],"+
                "small[],"+
                "span[align],"+
                "strike[],"+
                "strong[],"+
                "sub[],"+
                "sup[],"+
                "table[align|background|bgcolor|border|bordercolor|bordercolordark|bordercolorlight|"+
                "bottompadding|cellpadding|cellspacing|clear|cols|height|hspace|leftpadding|"+
                "rightpadding|rules|summary|toppadding|vspace|width],"+
                "tbody[align|bgcolor|char|charoff|valign],"+
                "td[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "tfoot[align|bgcolor|char|charoff|valign],"+
                "th[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "thead[align|bgcolor|char|charoff|valign],"+
                "tr[align|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|"+
                "height|nowrap|valign],"+
                "tt[],"+
                "u[],"+
                "ul[align|clear|height|start|type|width]"

            
        });
    }

    function showPublicCommentBox(id,ayatId){

        $("#publicComment_"+id).html('<textarea id="publicCommentArea_'+id+'" class="publicCommentArea_'+id+'" cols="80" rows="8"></textarea>');


        tinyMCE.init({

            mode : "specific_textareas",
            editor_selector : "publicCommentArea_"+id,

            plugins : "save",
            theme : "advanced",
            theme_advanced_buttons1 : "save,|,bold,italic,underline,strikethrough,forecolor,|,justifyleft,justifycenter,justifyright,justifyfull",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 :"",
            theme_advanced_buttons4 :"",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,
            cleanup: false,
            convert_fonts_to_spans : false,
            inline_styles: false,
            fix_table_elements : true,
            fix_list_elements : true,
            relative_urls : false,
            convert_urls : false,
            extended_valid_elements :
                "a[href|rel|rev|target|title|type]," +
                "b[],"+
                "blink[],"+
                "blockquote[align|cite|clear|height|type|width],"+
                "br[clear],"+
                "caption[align|height|valign|width],"+
                "center[align|height|width],"+
                "col[align|bgcolor|char|charoff|span|valign|width],"+
                "colgroup[align|bgcolor|char|charoff|span|valign|width],"+
                "comment[],"+
                "em[],"+
                "font[color|face|font-weight|point-size|size],"+
                "h1[align|clear|height|width],"+
                "h2[align|clear|height|width],"+
                "h3[align|clear|height|width],"+
                "h4[align|clear|height|width],"+
                "h5[align|clear|height|width],"+
                "h6[align|clear|height|width],"+
                "hr[align|clear|color|noshade|size|width],"+
                "img[align|alt|border|height|hspace|src|vspace|width],"+
                "li[align|clear|height|type|value|width],"+
                "marquee[behavior|bgcolor|direction|height|hspace|loop|scrollamount|scrolldelay|vspace|width],"+
                "ol[align|clear|height|start|type|width],"+
                "p[align|clear|height|width],"+
                "pre[clear|width|wrap],"+
                "s[],"+
                "small[],"+
                "span[align],"+
                "strike[],"+
                "strong[],"+
                "sub[],"+
                "sup[],"+
                "table[align|background|bgcolor|border|bordercolor|bordercolordark|bordercolorlight|"+
                "bottompadding|cellpadding|cellspacing|clear|cols|height|hspace|leftpadding|"+
                "rightpadding|rules|summary|toppadding|vspace|width],"+
                "tbody[align|bgcolor|char|charoff|valign],"+
                "td[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "tfoot[align|bgcolor|char|charoff|valign],"+
                "th[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "thead[align|bgcolor|char|charoff|valign],"+
                "tr[align|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|"+
                "height|nowrap|valign],"+
                "tt[],"+
                "u[],"+
                "ul[align|clear|height|start|type|width]"


        });
    }

    function showTranslationBox(id,ayatId){

        $("#ayat_translation_"+id).html('<textarea id="translation_'+id+'" class="translation_'+id+'" cols="80" rows="8"></textarea>');


        tinyMCE.init({

            mode : "specific_textareas",
            editor_selector : "translation_"+id,

            plugins : "save",
            theme : "advanced",
            theme_advanced_buttons1 : "save,|,bold,italic,underline,strikethrough,forecolor,|,justifyleft,justifycenter,justifyright,justifyfull",
            theme_advanced_buttons2 : "",
            theme_advanced_buttons3 :"",
            theme_advanced_buttons4 :"",
            theme_advanced_toolbar_location : "top",
            theme_advanced_toolbar_align : "left",
            theme_advanced_statusbar_location : "bottom",
            theme_advanced_resizing : true,
            cleanup: false,
            convert_fonts_to_spans : false,
            inline_styles: false,
            fix_table_elements : true,
            fix_list_elements : true,
            relative_urls : false,
            convert_urls : false,
            extended_valid_elements :
                "a[href|rel|rev|target|title|type]," +
                "b[],"+
                "blink[],"+
                "blockquote[align|cite|clear|height|type|width],"+
                "br[clear],"+
                "caption[align|height|valign|width],"+
                "center[align|height|width],"+
                "col[align|bgcolor|char|charoff|span|valign|width],"+
                "colgroup[align|bgcolor|char|charoff|span|valign|width],"+
                "comment[],"+
                "em[],"+
                "font[color|face|font-weight|point-size|size],"+
                "h1[align|clear|height|width],"+
                "h2[align|clear|height|width],"+
                "h3[align|clear|height|width],"+
                "h4[align|clear|height|width],"+
                "h5[align|clear|height|width],"+
                "h6[align|clear|height|width],"+
                "hr[align|clear|color|noshade|size|width],"+
                "img[align|alt|border|height|hspace|src|vspace|width],"+
                "li[align|clear|height|type|value|width],"+
                "marquee[behavior|bgcolor|direction|height|hspace|loop|scrollamount|scrolldelay|vspace|width],"+
                "ol[align|clear|height|start|type|width],"+
                "p[align|clear|height|width],"+
                "pre[clear|width|wrap],"+
                "s[],"+
                "small[],"+
                "span[align],"+
                "strike[],"+
                "strong[],"+
                "sub[],"+
                "sup[],"+
                "table[align|background|bgcolor|border|bordercolor|bordercolordark|bordercolorlight|"+
                "bottompadding|cellpadding|cellspacing|clear|cols|height|hspace|leftpadding|"+
                "rightpadding|rules|summary|toppadding|vspace|width],"+
                "tbody[align|bgcolor|char|charoff|valign],"+
                "td[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "tfoot[align|bgcolor|char|charoff|valign],"+
                "th[abbr|align|axis|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|headers|"+
                "height|nowrap|rowspan|scope|valign|width],"+
                "thead[align|bgcolor|char|charoff|valign],"+
                "tr[align|background|bgcolor|bordercolor|"+
                "bordercolordark|bordercolorlight|char|charoff|"+
                "height|nowrap|valign],"+
                "tt[],"+
                "u[],"+
                "ul[align|clear|height|start|type|width]"


        });
    }

    function saveComment(id,ayatId){
        $.post("@{Comments.save()}", { ayatId: ayatId,content:tinyMCE.get("comment_ayat_"+id).getContent() },
        function(data){
            
            $("#message_"+id).html(i18n("comment.add")+"<br/>");
            $("#message_"+id).removeClass("validation");
            $("#message_"+id).addClass("success");
            $("#message_"+id).show();
            window.setTimeout(function() {
                $("#message_"+id).fadeOut('slow');
            }, 3000);
        });
    }

    function savePublicComment(id,ayatId){
        $.post("@{Proposals.newComment()}", { ayatId: ayatId,comment:tinyMCE.get("publicCommentArea_"+id).getContent() },
        function(data){
            if(data.result == 'ok'){
                $("#message_"+id).html(i18n("comment.addPublic")+"<br/>");
                $("#message_"+id).removeClass("validation");
                $("#message_"+id).addClass("success");
                $("#message_"+id).show();
                window.setTimeout(function() {
                    $("#message_"+id).fadeOut('slow');
                }, 3000);
            }else{
                $("#message_"+id).html(i18n("comment.notAddPublic")+"<br/>");
                $("#message_"+id).removeClass("success");
                $("#message_"+id).addClass("validation");
                $("#message_"+id).show();
                window.setTimeout(function() {
                    $("#message_"+id).fadeOut('slow');
                }, 5000);
            }
        });
    }

    function saveTranslation(id,ayatId){
        $.post("@{Proposals.newTranslation()}", { ayatId: ayatId,translation:tinyMCE.get("translation_"+id).getContent() },
        function(data){
            if(data.result == 'ok'){
                $("#message_"+id).html(i18n("translation.add")+"<br/>");
                $("#message_"+id).removeClass("validation");
                $("#message_"+id).addClass("success");
                $("#message_"+id).show();
                window.setTimeout(function() {
                    $("#message_"+id).fadeOut('slow');
                }, 3000);
            }else{
                $("#message_"+id).html(i18n("translation.notAdd")+"<br/>");
                $("#message_"+id).removeClass("success");
                $("#message_"+id).addClass("validation");
                $("#message_"+id).show();
                window.setTimeout(function() {
                    $("#message_"+id).fadeOut('slow');
                }, 5000);
            }
        });
    }

    function showHideCommentBox(id,ayatId){
        if('${session.username}' == ''){
            alert(i18n("error.userNotConnected"));
            return;
        }

        if($('#comment_'+id).length == 0){
            showCommentBox(id,ayatId);
            $("#"+id).toggle();
        }else{
            $("#"+id).toggle();
        }
        
    }

    function showHidePublicCommentBox(id,ayatId){
        if('${session.username}' == ''){
            alert(i18n("error.userNotConnected"));
            return;
        }

        if($('#publicCommentArea_'+id).length == 0){
            showPublicCommentBox(id,ayatId);
            $("#publicComment_"+id).toggle();
        }else{
            $("#publicComment_"+id).toggle();
        }

    }

    function showHideTranslateBox(id,ayatId){
        if('${session.username}' == ''){
            alert(i18n("error.userNotConnected"));
            return;
        }

        if($('#translation_'+id).length == 0){
            showTranslationBox(id,ayatId);
            $("#ayat_translation_"+id).toggle();
        }else{
            $("#ayat_translation_"+id).toggle();
        }

    }

    function selectAyat(id,ayatId){
        if('${session.username}' == ''){
            alert(i18n("error.userNotConnected"));
            return;
        }
     
        $.post("@{Chapters.selectAyat()}", { ayatId: ayatId },
        function(data){
            if(data.result == 'ok'){
                $("#message_"+id).html(i18n("ayat.selected")+"<br/>");
                $("#message_"+id).removeClass("validation");
                $("#message_"+id).addClass("success");
                $("#message_"+id).show();
                window.setTimeout(function() {
                    $("#message_"+id).fadeOut('slow');
                }, 3000);
            }else{
                $("#message_"+id).html(i18n("ayat.alreadySelected")+"<br/>");
                $("#message_"+id).removeClass("success");
                $("#message_"+id).addClass("validation");
                $("#message_"+id).show();
                window.setTimeout(function() {
                    $("#message_"+id).fadeOut('slow');
                }, 3000);
            }
        });
    }

    function goToAyat(maxAyat){
        var ayat = parseInt($("#ayat").val());

        if(isNaN(ayat) || parseInt($("#ayat").val()) != parseFloat($("#ayat").val())){
            alert(i18n("error.noAyatNumber"));
            return;
        }else if(ayat > maxAyat){
            alert(i18n("error.maxAyat",maxAyat));
            return;
        }else if(ayat < 1){
            alert(i18n("error.badAyatNumber",maxAyat));
            return;
        }
        
        window.location.hash = $("#ayat").val();
    }

    $(function() {
        $('#ayat').keyup(function(e) {
            if(e.keyCode == 13) {
                goToAyat('${maxAyat}');
            }
        });
    });
</script>

<div style="text-align: center">
    <h1 style="border: 0px;">${sourat.number}. ${sourat.title}</h1>
    <h4>${ayats.size()} &{'ayats'}</h4>
</div>

<div style="text-align: right">
    &{'goToAyat'} : <input type="text" name="ayat" id="ayat" style="width: 30px" />
    <input type="button" name="go" value="Go" onclick="goToAyat('${maxAyat}');"/>
</div>

#{if sourat.number != 1 && sourat.number != 9}
<div align="center" style="font-size:15px;font-weight: bold">
    <em>&{'ayat.basmallah'}</em>
</div>
#{/if}

#{list items:ayats, as:'ayat'}

<div style="padding-bottom: 10px;padding-top: 10px;">
    <a href="#${ayat.number}" id="${ayat.number}"></a>
    <div id="message_${ayat.number}"></div>
    <div style="display: inline-block;width: 70px;height: 80px">
        <div>
            <div id="ayatNumber">${ayat.sa}</div>
            <div style="padding-top: 3px;">
                <a href="#top">
                    <img src="@{'/public/images/up.png'}" title="&{'ayat.top'}" width="20px" height="20px"/>
                </a>
                <a href="#" id="link_${ayat.number}" onclick="showHidePublicCommentBox('${ayat.number}','${ayat.id}');return false;">
                    <img src="@{'/public/images/publicComment.png'}" title="&{'ayat.publicComment'}" width="20px" height="20px"/>
                </a>
                <a href="#" id="link_${ayat.number}" onclick="showHideCommentBox('ayat_${ayat.number}','${ayat.id}');return false;">
                    <img src="@{'/public/images/privateComment.png'}" title="&{'ayat.privateComment'}" width="20px" height="20px"/>
                </a>
            </div>
            <div>
                
                <a href="#" onclick="selectAyat('${ayat.number}','${ayat.id}');return false;">
                    <img src="@{'/public/images/select.png'}" title="&{'ayat.select'}" width="20px" height="20px"/>
                </a>
                #{if session.username}
                #{secure.check 'admin'}
                <a href="@{Ayats.editAyat(ayat.id)}">
                    <img src="@{'/public/images/idea.png'}" title="&{'ayat.suggest'}" width="20px" height="20px"/>
                </a>
                #{/secure.check}
                #{secure.check 'user'}
                <a href="#" onclick="showHideTranslateBox('${ayat.number}','${ayat.id}');return false;">
                    <img src="@{'/public/images/idea.png'}" title="&{'ayat.suggest'}" width="20px" height="20px"/>
                </a>
                #{/secure.check}
                #{/if}
                #{else}
                <a href="#" onclick="showHideTranslateBox('${ayat.number}','${ayat.id}');return false;">
                    <img src="@{'/public/images/idea.png'}" title="&{'ayat.suggest'}" width="20px" height="20px"/>
                </a>
                #{/else}

            </div>
        </div>
    </div>

    <div id="ayatContent" >${ayat.content}</div>
    <div style="padding-left: 85px">
        <a href="">
            &{'ayat.viewComment'}
        </a>
    </div>
    <form action="" onsubmit="savePublicComment('${ayat.number}','${ayat.id}');return false;">
        <div class="ayatComment" id="publicComment_${ayat.number}" ></div>
    </form>
    <form action="" onsubmit="saveComment('${ayat.number}','${ayat.id}');return false;">
        <div class="ayatComment" id="ayat_${ayat.number}" ></div>
    </form>

    <form action="" onsubmit="saveTranslation('${ayat.number}','${ayat.id}');return false;">
        <div class="ayatComment" id="ayat_translation_${ayat.number}" ></div>
    </form>

</div>


<div style="border-bottom: 1px #eeeeee solid"></div>

#{/list}

