#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Recherche' /}

#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction,recherche dans le coran,recherche coran">
#{/set}

<script src="@{'/public/javascripts/jquery.highlight-3.js'}" type="text/javascript" charset='utf-8'></script>

<script type="text/javascript">

    function noaccent(chaine) {
        temp = chaine.replace(/[àâä]/gi,"a")
        temp = temp.replace(/[éèêë]/gi,"e")
        temp = temp.replace(/[îï]/gi,"i")
        temp = temp.replace(/[ôö]/gi,"o")
        temp = temp.replace(/[ùûü]/gi,"u")
        return temp
    }

    $(function() {
        $('#ayatList').highlight(noaccent('${q.raw()}'));
    });

</script>

#{if ayats.size() > 0}
&{'info.searchResult'} : <strong>${q}</strong>
<br/>
&{'info.searchCount',nbAyat}
#{/if}
#{else}
&{'info.noSearchResult',q}
#{/else}
<br/>

#{if nbPage > 1}
<table align="center" cellspacing="5px">
    <tr >
        #{if page > 1}
        <td>
            <a href="@{Ayats.search(q,page-1)}">
                <img src="@{'/public/images/previous.png'}" width="20px" height="20px"/>
            </a>
        </td>
        #{/if}
        #{list items:1..nbPage, as:'i'}
        #{if page == i}
        <td valign="middle" align="center" id="currentPage">
            <strong>${i}</strong>
        </td>
        #{/if}
        #{else}
        <td valign="middle" align="center" id="page">
            <a href="@{Ayats.search(q,i)}"  >
                ${i}
            </a>
        </td>
        #{/else}

        #{/list}

        #{if page < nbPage}
        <td>
            <a href="@{Ayats.search(q,page+1)}">
                <img src="@{'/public/images/next.png'}" width="20px" height="20px"/>
            </a>
        </td>
        #{/if}
    </tr>

</table>
#{/if}
<br/>

<script src="@{'/public/javascripts/tiny_mce.js'}" type="text/javascript" charset='utf-8'></script>

<script type="text/javascript" charset='utf-8'>
    var username = '${session.username}';
    var commentAdd = "&{'comment.add'}";
    var commentAddPublic = "&{'comment.addPublic'}";
    var commentNotAddPublic = "&{'comment.notAddPublic'}";
    var translationAdd = "&{'translation.add'}";
    var translationNotAdd = "&{'translation.notAdd'}";
    var userNotConnected = "&{'error.userNotConnected'}";
    var ayatSelected = "&{'ayat.selected'}";
    var ayatAlreadySelected = "&{'ayat.alreadySelected'}";

    var privateCommentLoadURL = "@{Comments.load()}";
    var publicCommentLoadURL = "@{Comments.loadPublic()}";
    var privateCommentSaveURL = "@{Comments.save()}";
    var publicCommentSaveURL = "@{Proposals.newComment()}";
    var translationSaveURL = "@{Proposals.newTranslation()}";
    var selectAyatURL = "@{Chapters.selectAyat()}";


</script>

<script src="@{'/public/javascripts/quranUtils.js'}" type="text/javascript" charset='utf-8'></script>

<div id="ayatList">
#{list items:ayats, as:'ayat'}

#{showAyat ayat:ayat,load:'yes'/}

#{if !ayat_isLast}
<div style="border-bottom: 1px #eeeeee solid"></div>
#{/if}

#{/list}
</div>

#{toolBox /}

