#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Nous contacter' /}

#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction">
#{/set}

#{i18n /}

<script>
    //initiate validator on load

    $(function() {
        // validate contact form on keyup and submit
        $("#contact").validate({
            errorElement: 'span',
            errorClass: 'errorMessage',
            onkeyup: false,
            highlight: function(element, errorClass) {

            },

            errorPlacement: function(error, element) {
                error.appendTo( element.parent("td").next("td") );
            },


            rules: {
                mail: {
                    required: true,
                    email: true
                },
                object: {
                    required: true
                },
                captcha : {
                    required : true
                }
            },
            //set messages to appear inline
            messages: {
                mail: i18n("error.mail"),
                object: i18n("error.emptyObject"),
                captcha: i18n("error.emptyCaptcha")
            }
        });

    });
</script>

<h1>&{'menu.contact'}</h1>

#{if flash.error}
<p class="validation">
    &{flash.errorEmail}
    #{if flash.errorObject}<br/>#{/if}
    &{flash.errorObject}
    #{if flash.errorCaptcha}<br/>#{/if}
    &{flash.errorCaptcha}
    #{if flash.errorBadCaptcha}<br/>#{/if}
    &{flash.errorBadCaptcha}
</p>
#{/if}

#{if flash.success}
<p class="success">
    &{flash.success}
</p>
#{/if}

	#{form @contacUS(),id:'contact'}
<table>

    <tr>
        <td>
            &{'user.email'} :
        </td>
        <td>
            <input type="text" name="mail" id="mail" style="width: 250px" value="${params.mail}"/>
        </td>
        <td>

        </td>
    </tr>
    <tr>
        <td>
            &{'contact.object'} :
        </td>
        <td>
            <input type="text" name="object" id="object" style="width: 250px" value="${params.object}"/>
        </td>
        <td>

        </td>
    </tr>

    <tr>
        <td valign="top">
            &{'contact.subject'} :
        </td>
        <td>
            <textarea cols="40" rows="7" name="subject" id="subject">
                ${params.subject}
            </textarea>
        </td>
        <td>

        </td>
    </tr>
    #{if session.username == null}
    <tr>
        <td>
            &{'imageCode'} :
        </td>
        <td>
            <img src="@{Application.captcha(randomID)}" />
            <input type="hidden" name="randomID" value="${randomID}"/>
        </td>
        <td>

        </td>
    </tr>

    <tr>
        <td>
            &{'captcha'} :
        </td>
        <td>
            <input type="text" name="captcha" id="captcha"/>
        </td>
        <td>

        </td>
    </tr>
    #{/if}
    <tr>
        <td colspan="2" align="right">
            <input type="submit" name="contact" value="&{'send'}"/>
        </td>
    </tr>

</table>
#{/form}