#{extends 'main.html' /}
#{set title:'coran.al-imane.org - Coran en ligne' /}
#{set 'description'}
<meta name="description" content="coran.al-imane.org - Coran en ligne, la meilleure traduction du coran de nos jours. Recherche, commentaires (tafsir), chapitres peronnalisés">
#{/set}
#{set 'keywords'}
<meta name="keywords" content="coran,coran en ligne,tafsir,commentaires, recherche coran, traduction, meilleure traduction">
#{/set}

<div align="center" style="font-size: 15px;font-weight: bold ">
    &{'ayat.basmallah'}<br/><br/>

</div>

<p >
    La traduction du Coran en d’autres langues n’est pas une tâche facile. La grammaire et le vocabulaire sont souvent difficiles. <br/><br/>
    Des images ou métaphores peuvent être rendues par des termes emblématiques dans la langue d'arrivée.
    Inversement, il faudrait plus de mots pour traduire des notions symboliques qui ne connaissent
    aucun équivalent direct. D'où la difficulté de le traduire en d'autres langues.<br/><br/>

    Les traductions correspondent en général à des interprétations du Coran pour simplifier ses
    concepts et aider à le comprendre, mais elle ne sauront prendre la place d’un original inimitable
    livre sacré et par surcroît miraculeux, étant d’essence divine.<br/><br/>

    Toute traduction," tardjama", ne pourrait jamais constituer dans tout les cas le vrai sens de
    la révélation. Car en plus de ce problème linguistique s'ajoute le fait de ne pas tenir en
    considération les récits qui traitent les interprétations basées sur les références authentiques
    issues de la demeure prophétique.<br/><br/>

    Pour cette raison, notre site présente une occasion à tout les intervenants pour faire des
    recherches dans ce cadre et aboutir à des traductions aussi conformes au vrais sens des versets.
    Nous invitons alors nos chers membres à participer à ce travail qui sera certainement utile
    pour nous et pour tout les francophones qui visiteront notre site.
</p>

<div style="font-size: 18px;text-align: center" >
    <a  href="@{Secure.registration()}">&{'registration'}</a>
</div>
    


